{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Employee - Home</title>
        <script src="https://code.jquery.com/jquery-3.6.0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/admin_home.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/add_emp_form.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <!--common section-->
        <div class="header">
            <center>
                <h3 style="font-style: italic;">Hotel Booking Management System</h3>
                <h4>Employee Dashboard</h4>
                <p><h5>Welcome Back {{ current_emp.name }}!</h5></p>
            </center>
          </div>
          
          <div class="">
            <ul>
                <li><a href="{% url 'employee_home' %}">Search Rooms</a></li>
                <li><a class="active" href="{% url 'check_in' %}">Check-IN</a></li>
                <li><a href="#">Check-Out</a></li>
                <li><a href="{% url 'addrooms' %}">Add Rooms</a></li>
                <li style="float: right;"><a href="{% url 'emplogout' %}" style="background-color: red; color: white;">Logout</a></li>
             </ul>
          </div>
          <!--end of common sections-->

          <!-- main section-->
          <div class="w3-row-padding" style="padding-top: 5%;">
              <div class="">
                  {{ sms }}
                  <!--booking section after show available rooms-->
                  {% if rooms %}
                  <form action="booked_room" method="post">
                    {% csrf_token %}
                      <table id ="info" border="1">
                          <tr>
                            <th colspan="9">Room Informations</th>
                          </tr>
                          <tr>
                              <td><b>Room ID</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="number" value="{{ rooms.id }}" readonly/>
                              </td>
                              <td><b>Room Number</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="number" value="{{ rooms.room_num }}" readonly/>
                              </td>
                              <td><b>Category</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="text" value="{{ rooms.category }}" readonly />
                              </td>
                          </tr>
                          <tr>
                              <td><b>Beds info</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="text" value="{{ rooms.beds }}" readonly/>
                              </td>
                              <td><b>AC</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="text" value="{{ rooms.ac }}" readonly/>
                              </td>
                              <td><b>Floor Number</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="text" value="{{ rooms.flr }}" readonly/>
                              </td>
                          </tr>
                          <tr>
                              <td><b>Price</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="text" value="{{ rooms.price }}" readonly/>
                              </td>
                              <td><b>Room Service</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="text" value="{{ rooms.service }}" readonly/>
                              </td>
                          </tr>
                          <tr>
                              <th colspan="9">Customer Information</th>
                          </tr>
                          <tr>
                              <td><b>Customer Name</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="text" name="name" placeholder="Customer Name" required/>
                              </td>
                              <td><b>Date of Birth</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="date" name="dob" required style="outline: none;"/>
                              </td>
                              <td><b>Contact Number</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="text" name="phone" placeholder="Phone Number" required/>
                              </td>
                          </tr>
                          <tr>
                              <td><b>Profession</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <select name="profe">
                                      <option value="Salaried">Salaried</option>
                                      <option value="Self-Employee">Self-Employee</option>
                                      <option value="Student">Student</option>
                                  </select>
                              </td>
                              <td><b>Marital Status</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <select name="marital">
                                      <option value="Married">Married</option>
                                      <option value="Un-Married">Un-Married</option>
                                  </select>
                              </td>
                              <td><b>ID-Type</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <select name="id_prof">
                                      <option value="Adhar-Card">Adhar-Card</option>
                                      <option value="Pan-Card">Pan-Card</option>
                                      <option value="Voter-Card">Voter-Card</option>
                                  </select>
                              </td>
                          </tr>
                          <tr>
                              <td><b>ID - Number</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="text" name="id_number" placeholder="ID Number" required/>
                              </td>
                              <td><b>Number of Adults</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="number" placeholder="Number of Adults" name="adult" required/>
                              </td>
                              <td><b>Number of Children</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="number" placeholder="Number of Children" name="children" value="0" required/>
                              </td>
                          </tr>

                      </table>
                  </form>
                  {% endif %}
                <!-- end of booking section-->
                
                <!--check in section-->
                <!--end of checkin section-->
              </div>
          </div>
    </body>
</html>
    