{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Employee - Home</title>
        <script src="https://code.jquery.com/jquery-3.6.0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/admin_home.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/add_emp_form.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <!--common section-->
        <div class="header">
            <center>
                <h3 style="font-style: italic;">Hotel Booking Management System</h3>
                <h4>Employee Dashboard</h4>
                <p><h5>Welcome Back {{ current_emp.name }}!</h5></p>
            </center>
          </div>
          
          <div class="">
            <ul>
                <li><a href="{% url 'employee_home' %}">Search Rooms</a></li>
                <li><a class="active" href="{% url 'check_in' %}">Check-IN</a></li>
                <li><a href="#">Check-Out</a></li>
                <li><a href="{% url 'addrooms' %}">Add Rooms</a></li>
                <li style="float: right;"><a href="{% url 'emplogout' %}" style="background-color: red; color: white;">Logout</a></li>
             </ul>
          </div>
          <!--end of common sections-->

          <!-- main section-->
          <div class="w3-row-padding" style="padding-top: 5%;">
              <div class="">
                  <form>
                      <table border="1">
                          <tr>
                              <td></td>
                          </tr>
                      </table>
                  </form>
              </div>
          </div>
    </body>
</html>
    