{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Admin - Home</title>
        <script src="https://code.jquery.com/jquery-3.6.0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/admin_home.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/add_emp_form.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script>
            $(document).ready(function(){
                //name validation
                $("#name").change(function(){
                    var name = $("#name").val();
                    var name_rex = /^[a-zA-Z ]+$/;

                    if(!name.match(name_rex)){
                        alert("Invalid name, please enter valid name!");
                        $("#name").val('');
                        $("#name").focus();
                    }
                    if(name.length <= 3){
                        alert("Invalid name, please enter valid name!");
                        $("#name").val('');
                        $("#name").focus();
                    }
                });

                //email validation
                $("#email").change(function(){
                    var email = $("#email").val();
                    var email_rex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                    if(!email.match(email_rex)){
                        alert("Please enter a valid email address!");
                        $("#email").val('');
                        $("#email").focus();
                    }
                });

                //phone number validation
                $("#phone").change(function(){
                    var phone = $("#phone").val();
                    var phone_rex = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/;
                    if(!phone.match(phone_rex) || phone.length < 10 ){
                        alert("Invalid phone number");
                        $("#phone").val('');
                        $("#phone").focus();
                    }
                });
                
            });

        </script>
    </head>
    <body>
        <!--common section-->
        <div class="header">
            <center>
                <h3 style="font-style: italic;">Hotel Booking Management System</h3>
                <h4>Admin Dashboard</h4>
                <p><h5>Welcome Back {{ current_user.name }}!</h5></p>
            </center>
          </div>
          
          <div class="">
            <ul>
                <li><a href="{% url 'admin_home' %}">Add Employee</a></li>
                <li><a href="{% url 'show_emp' %}">Show Employee List</a></li>
                <li><a href="#">Find Employee Records</a></li>
                <li><a href="#contact">Salary Generate</a></li>
                <li style="float: right;"><a href="{% url 'adminlogout' %}" style="background-color: red; color: white;">Logout</a></li>
             </ul>
          </div>
          <!--end of common sections-->

          <!-- main section-->
          <div class="w3-row-padding" style="padding-top: 5%;">
              <div class="">
                  <center>
                        <h5 style="font-size: 20px;">Edit Employee Records!</h5>
                        <h6 style="color : red; font-size: 20px;">{{ sms }}</h6>
                        <h6 style="color : green; font-size: 20px;">{{ sms1 }}</h6>
                    </center> 
                    {% if edit %}                                     
                  <form method="post" action="update_emp">
                    {% csrf_token %}
                      <table id="admin-form">
                          <tr>
                              <input type="hidden" name="id" value="{{ edit.id }}" required/>
                          </tr>
                          <tr>
                              <td><b>Name</b></td>
                              <td><b>:</b></td>
                              <td><input type="text" name="name" placeholder="Enter Full Name" id="name" value="{{ edit.name }}" required/></td>                                 
                              <td><b>Email</b></td>
                              <td><b>:</b></td>
                              <td><input type="email" name="email" placeholder="Enter Email" id="email" value="{{ edit.email }}" required/></td>
                          </tr>
                          <tr>
                              <td><b>Contact</b></td>
                              <td><b>:</b></td>
                              <td><input type="number" name="phone" placeholder="Enter Contact Number" value="{{ edit.phone }}" id="phone" required/></td>
                              <td><b>Gender</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="text" value="{{ edit.gender }}" name="gender" placeholder="Enter Gender" required/>
                              </td>
                          </tr>
                          <tr>
                              <td><b>Department</b></td>
                              <td><b>:</b></td>
                              <td>
                                  <input type="text" name="department" value="{{ edit.department }}" required/>
                              </td>
                              <td>
                                  <b>Address</b>                           
                              </td>
                              <td><b>:</b></td>
                              <td>
                                  <textarea name="address" required>{{ edit.address }}</textarea>
                              </td>
                          </tr>                        
                          <tr>
                              <td colspan="3">
                                  <input type="submit" value="Update" name="save"/>
                              </td>
                              <td colspan="3">
                                  <button><a href="{% url 'show_emp' %}">Cancel</a></button>
                              </td>
                          </tr>
                      </table>
                  </form>  
                  {% endif %}  
                  <style>
                      button{
                          padding: 8px 10px;
                          color : white;
                          cursor: pointer;
                          background-color : red;
                          text-decoration: none;
                          border : none;
                          width : 100%;
                      }
                      button a{
                          text-decoration: none;
                          font-weight: bold;
                      }
                  </style>              
              </div>
          </div>
    </body>
</html>